.wrapper{
  margin: auto;
  width: 50%;
}
/* @keyframes animatedBackground {
    from {
      background-position: 0 100%;
    }
    to {
      background-position:0 0 ;
    }
  } */
  .road {
      height: 500px;
      width: 100%;
    animation: animatedBackground 1s linear  infinite ;
    background-repeat: no-repeat;
  }