body {
  text-align: center;
  box-sizing: border-box;
  background-image: url("../assets/field.jpg");
  background-size: cover;
}
.btn .btn-danger {
  display: flex;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}
@keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 0 0;
  }
}
.road {
  position: relative;
  margin: auto;
  height: 100vh;
  width: 100%;
  top: 0px;
  animation: animatedBackground 300ms linear normal infinite;
  background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/17b8ffc08b8a20b.png");
  background-repeat: repeat-y;
  background-size: cover;
}
.arrowKey {
  position: relative;
  height: 200px;
  width: 300px;
}
#timer {
 z-index: 100 !important; 
  font-size: 40px;
  margin: 15;
  padding: 10px;
  color: white;
  font: bold;
  fill-opacity: 15;
  background-color: rgba(0, 0, 0, 0.4);
}
#final-time{
  font-size: 100px;
  margin: 15;
  padding: 10px;
  color: white;
  font: bold;
  fill-opacity: 15;
  background-color: rgba(0, 0, 0, 0.4);
}
.police{
  z-index: 1!important;
}